
 h2, h3,  {
    text-align: center;
    
}

.question, #results {
    display: none;
    text-align: center
    }

.button li {
    border: 1px solid;
    border-radius: 1px;
    background-color: #eee;
    text-align: center;
    line-height: 2em;
    padding: 0.2em;
    margin: 0.8em;
    width: 30%;
    margin: 0 auto;
    list-style: none;

}

.button li:hover {
    color: #bfbfbf;
    background-color: #555;
    text-align: center
}

#intro, .question, #results {
	max-width: 640px;
    margin: 3em auto;
    text-align: center
}

#beginquiz {
    border: 1px solid;
    border-radius: 3px;
    background-color: #eee;
    text-align: center;
    line-height: 2em;
    padding: 0.5em;
    margin: 0.5em;
    width: 20em;
    margin: 0 auto;
    text-align: center;
}


button {
    margin-right: 2px;
}

.vertical-center {
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgSpace {
    margin: 5px;
    width:  300px;
    height: 300px;
}

#flicker-body {
    justify-content: center;
    display: inline-block;
    margin: 0 auto;
}

.main-body {
    padding: 30px;
    text-align: center;
}

#carouselExampleControls {
    padding: 50px;
}


#donna, #whatever{
    position: absolute;
    left:750px;
    top:150px;
    z-index:-1;
    width:200px;
}

#thumbsup{
    position: absolute;
    left:780px;
    top:125px;
    z-index:-1;
    width:200px;
}
